In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ny = pd.read_csv('fulltimeNY.csv')
ny.head(2)

,position,company,description,numreview,location
0,Data Scientist—Research (Ref # EXEC/RD_DAT_NYC...,New York State Office of the Attorney General ...,"<span id=""job_summary"" class=""summary""><p><b>E...",NaN,"New York, NY"
1,Data Scientist/Pre Sales Engineer,Celonis,"<span id=""job_summary"" class=""summary""><p>Celo...",NaN,"New York, NY"