In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('2004-2019.tsv')

In [6]:
df.head()

  \tDATA INICIAL\tDATA FINAL\tREGIÃO\tESTADO\tPRODUTO\tNÚMERO DE POSTOS PESQUISADOS\tUNIDADE DE MEDIDA\tPREÇO MÉDIO REVENDA\tDESVIO PADRÃO REVENDA\tPREÇO MÍNIMO REVENDA\tPREÇO MÁXIMO REVENDA\tMARGEM MÉDIA REVENDA\tCOEF DE VARIAÇÃO REVENDA\tPREÇO MÉDIO DISTRIBUIÇÃO\tDESVIO PADRÃO DISTRIBUIÇÃO\tPREÇO MÍNIMO DISTRIBUIÇÃO\tPREÇO MÁXIMO DISTRIBUIÇÃO\tCOEF DE VARIAÇÃO DISTRIBUIÇÃO\tMÊS\tANO
0  0\t2004-05-09\t2004-05-15\tCENTRO OESTE\tDISTR...
1  1\t2004-05-09\t2004-05-15\tCENTRO OESTE\tGOIAS...
2  2\t2004-05-09\t2004-05-15\tCENTRO OESTE\tMATO ...
3  3\t2004-05-09\t2004-05-15\tCENTRO OESTE\tMATO ...
4  4\t2004-05-09\t2004-05-15\tNORDESTE\tALAGOAS\t...

In [7]:
df.shape

(106823, 1)